@media only screen and (min-width: 600px) {
  html, body, main { height: 100%; }
  body { overflow: hidden; }

  .sharon {
    display: flex;
    display:-webkit-flex;
    background: #DCC861;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0;
    cursor: pointer;
    -webkit-transition: width 1s, box-shadow 200ms ease 800ms;
    -moz-transition:    width 1s, box-shadow 200ms ease 800ms;
    transition:         width 1s, box-shadow 200ms ease 800ms;
  }

  .sharon.folded {
    width: 20%;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.3);
  }

  .cd-gallery {
    margin-left: 20%;
  }

  .cd-folding-panel {
    margin-left: 10%;
  }

  .sharon.about {
    box-shadow: none;
    -webkit-transition: width 1s;
    -moz-transition:    width 1s;
    transition:         width 1s;
  }
}

#wrapper {
  height: 100%;
  display: flex;
  display:-webkit-flex;
  font-family: 'Roboto', sans-serif;
}

.about-me {
  background-color: rgba(91, 79, 10, 0.3);
  padding: 7px;
  width: 8em;
  margin-left: 29px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 4em !important;
  transition: all 300ms;
}

.about-me:hover {
  background: rgba(91, 79, 10, 0.1);
}

.sharonx {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: default;
  background: #E5C61C;
  color: hsl(51, 79%, 20%);
  cursor: pointer;
  display: flex;
  display:-webkit-flex;
  z-index: 10;
  margin-bottom: 0;
}

.subhead {
  text-align: center;
  margin:auto;
  color: #9E6308;
  font-size: 1.3em;
  transition: all 1s;
}

.sharon.folded .subhead {
  font-size: 0.9em;
}

.sharon-about {
  width: 0%;
  height: 100%;
  overflow: hidden;
  background: white;
  position: relative;
  -webkit-transition: width 1.5s;
  -moz-transition:    width 1.5s;
  transition:         width 1.5s;
}

.sharon-about-content {
  padding: 2em 0;
}

.sharon-block {
  margin: auto;
  font-size: 0.9em;
  position: relative;
  transition: top 1s;
  top: 0%;
}

.sharon-block h1 {
  font-size: 5em;
  margin-bottom: 0.1em;
  color: hsl(51, 79%, 20%);
}

.sharon.folded .sharon-block h1 {
  font-size: 2.6em;
  margin-bottom: 1%;
}

.sharon-details {
  transition: all 2s;
  opacity: 1;
  max-height: 50px;
  margin-left: 10%;
  color: hsl(51, 79%, 20%);
}

.sharon-details.sharon-hidden {
  opacity: 0;
  max-height: 0;
}

.sharon-details a {
  color: inherit;
  text-decoration: none;
}

.sharon-details a:hover {
  text-decoration: underline;
}

.sharon-details i.fa {
  margin-right: .5em;
  width: 16px;
  font-size: 1.2em;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

img.left {
  float: left;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  margin: 3em;
  width: 12em;
  height: 12em;
}

.flex {
  display: flex;
  display:-webkit-flex;
}

.panel-right {
  background: rgba(229, 198, 28, 0.13);
  flex: 1;
  -webkit-flex: 1;
  max-width: 56em;
  font-size: 14px;
  padding: 2em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0em 4em 3em 1em;
  position: relative;
  border-bottom: 2px solid #ddd;
  color: #555;
  line-height: 2em;
}

.panel-right:before {
  content: "";
  width: 0em;
  height: 0em;
  position: absolute;
  top: 4em;
  left: -4em;
  border: 2em solid rgba(0, 0, 0, 0);
  border-right-color: rgba(229, 198, 28, 0.13);
}

.panel-right .my-name {
  font-weight: 700;
}

.tags-container {
  display: flex;
  display:-webkit-flex;
  max-width: 61em;
  margin: auto;
  width: 80%;
}

.tags-title {
  font-weight: bold;
  color: #333;
  padding-right: 10px;
}

.tags {
  flex: 1;
  -webkit-flex: 1;
}

.tags > div {
  display: inline-block;
  font-size: 15px;
  color: #777;
  margin: 10px 12px;
  margin-top: 0;
  border-bottom: 2px dotted #ddd;
}

.resume {
  padding: 1em;
  padding-top: 2em;
  font-size: 1.2em;
  margin-left: 27em;
  margin-top:2em;
}

.resume a {
  color: rgb(119, 119, 119);
  text-decoration: none;
  background-color: rgb(234, 213, 99);
  padding: 2%;
}

.resume a:hover {
  color: black;
}

.contact {
  padding-left: 1em;
  color: #666;
}

.contact > p:first-child {
  text-align: center;
  color: #999;
}

.contact .vignette {
  margin: auto;
  width: 200px;
  padding: 15px;
  background-color: #eee;
  margin-top: 2em;
}

.contact .vignette a {
  color: inherit;
  text-decoration: initial;
}

.contact .email, .contact .phone {
  font-family: monospace;
}

@media only screen and (max-device-width: 480px) {
  html, body {
    overflow: hidden;
  }
  body {
    position: relative
  }

  :focus {outline:none;}
  ::-moz-focus-inner {border:0;}

  #wrapper {
    overflow: auto;
    display: block;
  }

  .sharon.folded {
    height: 8em;
  }

  .sharon.folded .sharon-block h1 {
    font-size: 7em;
  }

  .sharon-block {
    width: 100%;
    box-shadow: 0 -1.5em 1.5em 2em rgba(0, 0, 0, 0.5);
  }

  .sharon-block h1 {
    margin-top: 0;
    text-align: center;
  }

  .subhead {
    display: none;
  }

  .sharon-details {
    max-height: none;
    transition: none;
    min-height: 25em;
  }

  .sharon-details::before {
    content: "About Me";
    font-size: 4em;
    text-align: center;
    display: block;
    padding: 0.9em;
    color: #5B4F0A;
    font-weight: 200;
  }

  .sharon-details div {
    font-size: 2.2em;
    display: inline-block;
    width: 40%;
    padding-left: 2.6em;
    padding-bottom: 2em;
    color: #444;
  }

  .sharon-details i.fa {
    margin-right: 0.5em;
    width: initial;
    font-size: 1.2em;
    text-align: center;
  }

  .sharon-details .about-me {
    display: none;
  }
}

@media only screen and (min-device-width: 480px) {
  .sharon {
    // transition: all 1s;
  }

  .sharon.folded .sharon-block {
    top: -10%;
  }

  .sharon-block h1 {
    transition: all 1s;
  }

  .sharon.about {
    width: 100%;
  }

  .sharon.about .sharon-about {
    width: 80%;
  }

  .subhead {
    margin-bottom: 16%;
  }

  .sharon-details div {
    margin: 1em;
  }
}
